<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="IODigital"
             title=" iO "
             translate="title"
             module="IODigital_Core"
             sortOrder="500"
             resource="Magento_Backend::admin"
        />
    </menu>
</config>
